@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
/* Common Section */
:root {
  --primary-color: #101a24;
  --secondary-color: #5c6574;
  --third-color: #ea6d27;
}
.container {
  max-width: 1182px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.row > * {
  padding: 0 15px;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul > li {
  list-style-type: none;
}

/* Header Section */
.header-section {
  position: relative;
}
.nav-logo {
  max-width: 198px;
  min-height: 55px;
  object-fit: contain;
  padding: 20px 0;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
}
nav,
.nav-right,
.nav-right > ul {
  display: flex;
  align-items: center;
}
.nav-right {
  padding: 20px 0;
  flex-grow: 1;
}
.nav-right > ul {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.nav-btn > a {
  padding: 16px 32px;
  color: white;
  background-color: var(--third-color);
  border-radius: 20px 0 20px 0;
  text-wrap: nowrap;
  font-family: "David Libre", serif;
}
ul {
  gap: 45px;
}
ul > li > a {
  color: var(--primary-color);
  font-size: 16px;
}
.dash {
  display: none;
}
.active {
  display: flex !important;
}

/* Banner Section */
.banner-img > .small-banner-scr {
  display: none;
}
.banner-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}
.banner-section > div {
  position: relative;
}
.col-6 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img > img {
  max-width: 370px;
  object-fit: contain;
  animation: bannerimg 2s 1 linear forwards;
}
@keyframes bannerimg{
    from{
    transform: translatex(300px);
  }
  to{
    transform: translateX(0);
  }
}
.banner-text > h1 {
  font-size: 70px;
  color: var(--primary-color);
  margin-bottom: 69px;
  font-family: "David Libre", serif;
  animation: heading 2s 1 linear forwards;
}
@keyframes heading {
  from{
    transform: translateX(-300px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.banner-text > p {
  max-width: 376px;
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 18px;
  font-family: "Inter", sans-serif;
}
.banner-btn {
  display: flex;
  gap: 25px;
  margin-bottom: 90px;
}
.banner-btn1 > a {
  background-color: var(--primary-color);
  border-radius: 20px 0 20px 0;
  color: white;
  padding: 16px 36px;
  font-family: "David Libre", serif;
  text-wrap: nowrap;
}
.banner-btn2 > a {
  background-color: var(--third-color);
  border-radius: 20px 0 20px 0;
  color: white;
  padding: 16px 36px;
  font-family: "David Libre", serif;
  text-wrap: nowrap;
}
.banner-section > div > div {
  align-items: center;
  justify-content: center;
}
.banner-logo {
  display: flex;
  gap: 17px;
  align-items: center;
}
.link {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid var(--primary-color);
}
.banner-logo > hr {
  width: 143px;
  background-color: var(--secondary-color);
}
.banner-logo > a {
  max-width: 45px;
  min-height: 45px;
  object-fit: contain;
}
.banner-logo > a > img {
  width: 100%;
  height: 100%;
}
.banner-img {
  position: relative;
}
.banner-left-top {
  position: absolute;
  top: -80px;
  left: -150px;
  z-index: -1;
}
.banner-left-top > img {
  max-width: 400px;
  min-height: 150px;
  object-fit: contain;
}
.banner-left-bottom {
  position: absolute;
  bottom: 20px;
  left: -175px;
  animation: bannerdish 500ms 1 linear forwards;
}
@keyframes bannerdish {
  from{
    transform: translateY(50px);
  }
  to{
    transform: translateY(0);
  }
}
.banner-left-bottom > img {
  max-width: 300px;
  min-height: 300px;
  object-fit: contain;
}
.banner-right-top {
  position: absolute;
  top: -90px;
  right: -100px;
  z-index: -1;
}
.banner-right-top > img {
  max-width: 250px;
  min-height: 250px;
  object-fit: contain;
}
.banner-right-bottom {
  position: absolute;
  bottom: 18px;
  right: -120px;
  z-index: -1;
}
.banner-right-bottom > img {
  max-width: 200px;
  min-height: 200px;
  object-fit: contain;
}
.letter-img {
  position: absolute;
  top: -70px;
  left: -10px;
}
.letter-img > img {
  max-width: 80px;
  min-height: 80px;
  object-fit: contain;
}

/* Our Special Dishes Section */
.special-section {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: whitesmoke;
}
.special-section > div > div {
  justify-content: center;
  align-items: center;
}
.special-section-text > h2 {
  font-size: 60px;
  font-family: "David Libre", serif;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}
.special-section-text > p {
  max-width: 375px;
  font-size: 16px;
  color: var(--secondary-color);
  font-family: "Inter", sans-serif;
}
.special-section-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.special-section-text-img1 {
  position: absolute;
  left: -205px;
  top: -45px;
}
.special-section-text-img2 {
  position: absolute;
  right: -155px;
  top: -65px;
}

/* Dish with price Section*/
.dish-price-section {
  padding: 100px 0;
  background-color: whitesmoke;
}
.dish-price-section > div > div {
  row-gap: 100px;
}
.col {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.manu-card,
.manu-card-4,
.manu-card1 {
  max-width: 265px;
  min-height: 300px;
  background-color: whitesmoke;
  border: 4px solid white;
  border-radius: 30px 0 30px 0;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.onion-img {
  position: absolute;
  bottom: -50px;
  right: -42px;
  z-index: 0;
}
.garlic-one {
  position: absolute;
  bottom: -40px;
  left: 20px;
}
.garlic-full {
  position: absolute;
  bottom: -50px;
  right: -20px;
}
.coriander-img {
  position: absolute;
  right: 350px;
  bottom: -160px;
}
.dish-img > img {
  max-width: 200px;
  min-height: 200px;
  object-fit: contain;
  position: absolute;
  top: calc(-200px / 2);
  left: 50%;
  transform: translateX(-50%);
}
.dish-price > img {
  max-width: 70px;
  min-height: 70px;
  object-fit: contain;
  position: absolute;
  top: -20%;
  right: 10px;
}
.dish-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.dish-details {
  max-width: 225px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 16px;
  align-self: flex-end;
}
.dish-heading {
  font-size: 20px;
  color: var(--primary-color);
}

/* Welcome Section  */
.col-6th {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-4th {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-section {
  background-color: whitesmoke;
}
.welcome-img > img {
  max-width: 650px;
  min-height: 660px;
  object-fit: contain;
}
.welcome-section > div > div {
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}
.welcome-text > h2 {
  font-size: 60px;
  color: var(--primary-color);
  font-family: "David Libre", serif;
  margin-bottom: 30px;
}
.welcome-text > p {
  max-width: 375px;
  color: var(--secondary-color);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
.leaf3 > img {
  max-width: 190px;
  min-height: 125px;
  object-fit: contain;
}
.leaf2 > img {
  max-width: 200px;
  min-height: 130px;
  object-fit: contain;
}
.leaf1 > img {
  max-width: 90px;
  min-height: 185px;
  object-fit: contain;
}
.welcome-img {
  position: relative;
}
.leaf3 {
  position: absolute;
  top: 115px;
  right: 1px;
}
.leaf2 {
  position: absolute;
  bottom: 50px;
  left: 60px;
}
.leaf1 {
  position: absolute;
  top: 205px;
}
.garlic-img1 > img,
.garlic-img2 > img {
  max-width: 75px;
  min-height: 75px;
  object-fit: contain;
}
.leaf4 > img {
  max-width: 225px;
  min-height: 210px;
  object-fit: contain;
}
.leaf5 > img {
  max-width: 450px;
  min-height: 320px;
  object-fit: contain;
}
.welcome-text {
  position: relative;
}
.garlic-img1 {
  position: absolute;
  bottom: -100px;
}
.garlic-img2 {
  position: absolute;
  left: -100px;
  bottom: -20px;
}
.leaf4 {
  position: absolute;
  top: -90px;
  left: -45px;
}
.leaf5 {
  position: absolute;
  right: -130px;
  top: 120px;
}

/* Our Chef Section   */
.chef-section {
  background: url(../assets/Frame\ 2.png) center/cover no-repeat;
}
.chef-section > div > div {
  align-items: center;
}
.col-6 {
  width: 50%;
}
.chef-section {
  padding: 100px 0;
}
.chef-img > img {
  max-width: 500px;
  min-height: 695px;
  object-fit: contain;
}
.chef-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chef-text > h2 {
  font-size: 60px;
  font-family: "David Libre", serif;
  color: var(--primary-color);
  margin-bottom: 18px;
}
.chef-text > p {
  max-width: 375px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: var(--secondary-color);
  margin-bottom: 25px;
}
.chef-list {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}
.chef-list > ul > li {
  max-width: 255px;
  font-family: "Inter", sans-serif;
  color: var(--secondary-color);
  font-size: 15px;
}
.chef-list > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.chef-list > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.chef-list > ul > li > img {
  max-width: 24px;
  min-height: 24px;
  object-fit: contain;
}
.chef-garlic1 > img {
  max-width: 190px;
  min-height: 170px;
  object-fit: contain;
}
.chef-text {
  position: relative;
}
.chef-garlic1 {
  position: absolute;
  left: -180px;
}
.chef-btn {
  display: flex;
  gap: 25px;
  margin-bottom: 90px;
}
.chef-btn1 > a {
  background-color: var(--primary-color);
  border-radius: 20px 0 20px 0;
  color: white;
  padding: 16px 36px;
  font-family: "David Libre", serif;
  text-wrap: nowrap;
}
.chef-btn2 > a {
  background-color: var(--third-color);
  border-radius: 20px 0 20px 0;
  color: white;
  padding: 16px 36px;
  font-family: "David Libre", serif;
  text-wrap: nowrap;
}

/* Happy Customers Section */
.happy-section > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.happy-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.happy-section {
  background-color: whitesmoke;
  padding: 50px 0;
}
.happy-text > h2 {
  font-size: 60px;
  color: var(--primary-color);
  font-family: "David Libre", serif;
  margin-bottom: 18px;
}
.happy-text > p {
  max-width: 375px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: var(--secondary-color);
  margin-bottom: 25px;
}
.happy-img > img {
  max-width: 350px;
  min-height: 400px;
  object-fit: contain;
}
.happy-img {
  position: absolute;
  left: -215px;
  top: 35px;
}

/* Slider Section */
.review-section {
  background: #f3f4f4;
  position: relative;
  padding-bottom: 250px;
}
.swiper {
  width: 100%;
  height: 500px !important;
  overflow: hidden;
}
.swiper-wrapper {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 639px;
}
.customer-card {
  background: white;
  width: 100%;
  padding: 75px 25px 41px;
  position: relative;
  border-radius: 40px 8px 40px 8px;
}
.customer-img {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: calc(-92px / 2);
  transform: translateX(-50%);
  z-index: 99;
  overflow: hidden;
}
.customer-img > img {
  height: 109px;
  width: 109px;
  object-fit: cover;
}
.customer-review {
  color: var(--secondary-color);
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
}
h4 {
  font-size: 16px;
  color: var(--primary-color);
}
.customer-pst {
  font-size: 15px;
  color: var(--secondary-color);
}
.rating > div:before {
  content: "★";
}
.rating {
  display: flex;
  justify-content: center;
}
.rating > div {
  color: #ffa723;
}

/* Newsletter Section */
.newsletter-section > div > div {
  justify-content: center;
  align-items: center;
}
.newsletter-box {
  position: absolute;
  bottom: calc(-400px / 2);
  left: 50%;
  transform: translateX(-50%);
  width: 1150px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url(../assets/Maskgroup\(13\).png) center/contain no-repeat;
}
.newsletter-box > h2 {
  font-size: 50px;
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 55px;
}
.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 17px;
  border: 2px solid white;
  background-color: white;
  width: 665px;
  border-radius: 20px;
}
input {
  border: none;
  outline: none;
  background-color: white;
}
.email > a {
  padding: 15px 45px;
  background: var(--third-color);
  color: white;
  border-radius: 10px;
}

/* Small Newsletter Section */
.small-newsletter-box {
  display: none;
}

/* Footer Section */
.footer-section > div > div {
  display: flex;
  justify-content: center;
}
.footer-section {
  margin-top: 250px;
  position: relative;
}
.footer-hr-img {
  position: absolute;
  right: 150px;
  top: -130px;
}
.footer-section > div > div {
  gap: 77px;
}
.footer-logo > a > img {
  max-width: 195px;
  min-height: 55px;
  object-fit: contain;
  margin-bottom: 20px;
}
.footer-left > p {
  max-width: 400px;
  color: var(--secondary-color);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
.footer-left > h3 {
  font-size: 12px;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.footer-para {
  display: flex;
  gap: 40px;
  color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.footer-para > .p1 {
  max-width: 145px;
}
.footer-para > .p2 {
  max-width: 145px;
}
.footer-para > .p3 {
  max-width: 65px;
}
.footer-right {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.footer-right > ul {
  gap: 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.footer-right > ul > li {
  color: var(--secondary-color);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-icon > a > img {
  max-width: 25px;
  min-height: 25px;
  object-fit: contain;
}
.footer-icon > a > .footer-icon1 {
  max-width: 45px;
  min-height: 45px;
  object-fit: contain;
}

/* Footer Hr Section */
.footer-hr-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-hr-section > div > hr {
  width: 1150px;
  color: var(--secondary-color);
  margin: 45px 0;
}

/* Footer last Section */
.footer-last-section > div > div {
  align-items: center;
  justify-content: space-between;
  gap: 400px;
}
.footer-last-part2 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: var(--secondary-color);
}
.footer-last-part1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: var(--secondary-color);
}

@media screen and (max-width: 1230px) {
  /* Dish with price Section */
  .dish-price-section > div > div {
    row-gap: 100px;
  }
  .col {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  /* Header Section */
  header {
    position: relative;
  }
  .dash {
    display: block;
    margin-left: auto;
    font-size: 2rem;
  }
  .nav-right {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(212, 143, 39, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px;
    animation: dropdown 500ms forwards 1 linear;
  }
  @keyframes dropdown {
   from{
    transform: translateY(-30px);
    opacity: 0;
   }
   to{
    transform: translate(0);
    opacity: 1;
   }
  }
  .nav-logo {
    padding: 10px;
  }
  .nav-right > ul {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .btn {
    flex-direction: column;
    align-items: center;
  }

  /* Banner Section */
  .banner-img > img {
    max-width: 350px;
    object-fit: contain;
  }
  .banner-text > h1 {
    font-size: 60px;
    margin-bottom: 49px;
  }
  .banner-text > p {
    max-width: 376px;
    font-size: 16px;
    margin-bottom: 18px;
  }
  .banner-btn {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
  }
  .letter-img {
    display: none;
  }

  /* Welcome Section */
  .welcome-section {
    background-color: whitesmoke;
  }
  .welcome-img > img {
    max-width: 500px;
    min-height: 560px;
    object-fit: contain;
  }
  .welcome-section > div > div {
    align-items: center;
    padding-bottom: 100px;
  }
  .welcome-text > h2 {
    font-size: 60px;
    color: var(--primary-color);
    font-family: "David Libre", serif;
    margin-bottom: 30px;
  }
  .welcome-text > p {
    max-width: 375px;
    color: var(--secondary-color);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
  }
  .leaf3 > img {
    max-width: 150px;
    min-height: 100px;
    object-fit: contain;
  }
  .leaf2 > img {
    max-width: 100px;
    min-height: 80px;
    object-fit: contain;
  }
  .leaf1 > img {
    max-width: 70px;
    min-height: 155px;
    object-fit: contain;
  }
  .leaf2 {
    position: absolute;
    bottom: 100px;
    left: 100px;
  }
  .leaf4 > img {
    max-width: 125px;
    min-height: 110px;
    object-fit: contain;
  }
  .leaf5 > img {
    max-width: 250px;
    min-height: 220px;
    object-fit: contain;
  }
  .col-6th,
  .col-4th {
    width: 50%;
  }

  /* Our Chef Section */
  .chef-section {
    padding: 50px 0;
  }
  .chef-garlic1 {
    display: none;
  }
  .chef-list > ul > li > img {
    max-width: 18px;
    min-height: 18px;
  }
  .chef-list > ul {
    gap: 20px;
  }
  .chef-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .chef-list > ul > li {
    max-width: 200px;
    font-size: 12px;
  }
  .chef-text > h2 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .chef-text > p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .chef-img > img {
    max-width: 400px;
    min-height: 550px;
  }

  /* Newsletter Section */
  .newsletter-box {
    width: 950px;
    min-height: 400px;
  }
  .newsletter-box > h2 {
    font-size: 40px;
    margin-bottom: 35px;
  }
  .email {
    padding: 11px 15px;
  }

  /* Footer last Section */
  .footer-last-section > div > div {
    padding: 10px;
    gap: 300px;
  }
}
@media screen and (max-width: 930px) {
  /* Banner Section */
  .small-banner-scr {
    display: block;
  }
  .big-scr {
    display: none;
  }
  .col-6 {
    width: 100%;
  }
  .banner-section > div > div {
    flex-direction: column-reverse;
  }
  .banner-section {
    margin-bottom: 80px;
    min-height: 90vh;
  }
  .banner-left-top,
  .banner-left-bottom,
  .banner-right-top,
  .banner-right-bottom {
    display: none;
  }
  .banner-img > .small-banner-scr {
    display: block;
    max-width: 1000px;
    min-height: 600px;
    object-fit: contain;
  }

  /* Welcome Section */
  .col-6th,
  .col-4th {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* Header Section */
  .dash {
    font-size: 1.5rem;
  }
  .nav-logo {
    max-width: 150px;
    min-height: 55px;
    object-fit: contain;
  }
  .nav-btn > a {
    padding: 14px 22px;
    font-size: 14px;
  }
  ul {
    gap: 35px;
  }
  ul > li > a {
    color: var(--primary-color);
    font-size: 14px;
  }
  .nav-right > ul {
    margin-bottom: 20px;
  }

  /* Banner Section */
  .banner-section {
    margin-bottom: 40px;
    min-height: 90vh;
  }
  .banner-img > .small-banner-scr {
    display: block;
    max-width: 600px;
    min-height: 400px;
    object-fit: contain;
  }
  .banner-text > h1 {
    font-size: 40px;
    margin-bottom: 29px;
  }
  .banner-text > p {
    max-width: 376px;
    font-size: 14px;
    margin-bottom: 16px;
  }
  .banner-btn {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
  }

  /* Our Special Dishes Section */
  .special-section {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .special-section-text > h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .special-section-text > p {
    max-width: 375px;
    font-size: 16px;
    text-align: center;
  }
  .special-section-text-img1,
  .special-section-text-img2 {
    display: none;
  }

  /* Dish with price Section */
  .dish-price-section {
    padding-bottom: 50px;
  }
  .onion-img,
  .garlic-one,
  .garlic-full,
  .coriander-img {
    display: none;
  }

  /* Welcome Section */
  .welcome-section {
    background-color: whitesmoke;
  }
  .welcome-img > img {
    min-height: 460px;
  }
  .welcome-section > div > div {
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .welcome-text > h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .welcome-text > p {
    max-width: 375px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .leaf2 {
    bottom: 40px;
    left: 130px;
  }
  .garlic-img1,
  .garlic-img2,
  .leaf4,
  .leaf5 {
    display: none;
  }

  /* Our Chef Section */
  .chef-section > div > div {
    flex-direction: column;
  }
  .chef-section {
    padding: 40px 0;
  }
  .chef-btn {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
  }
  .chef-img > img {
    max-width: 300px;
    min-height: 450px;
  }

  /* Happy Customers Section */
  .happy-section {
    padding: 30px 0;
  }
  .happy-text > h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .happy-text > p {
    max-width: 275px;
    font-size: 12px;
    margin-bottom: 18px;
  }
  .happy-img > img {
    max-width: 250px;
    min-height: 200px;
  }
  .happy-img {
    top: -10px;
  }

  /* Slider Section */
  .swiper {
    height: 350px !important;
  }
  .swiper-wrapper {
    margin-top: 50px;
  }
  .swiper-slide {
    max-width: 439px;
  }
  .customer-card {
    padding: 55px 15px 30px;
  }
  .customer-pst,
  .customer-review {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  .customer-img > img {
    height: 89px;
    width: 89px;
  }
  .review-section {
    padding-bottom: 150px;
  }

  /* Newsletter Section */
  .newsletter-box {
    width: 550px;
    min-height: 400px;
  }
  .newsletter-box > h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .email {
    padding: 10px 12px;
    width: 365px;
  }

  /* Footer Section */
  .footer-section > div > div {
    gap: 47px;
    padding: 10px;
  }
  .footer-section {
    margin-top: 150px;
  }
  .footer-logo > a > img {
    max-width: 150px;
    min-height: 45px;
    margin-bottom: 10px;
  }
  .footer-left > p {
    max-width: 350px;
  }
  .footer-hr-img {
    display: none;
  }

  /* Footer Hr Section */
  .footer-hr-section > div > hr {
    margin: 25px 0;
  }

  /* Footer last Section */
  .footer-last-section > div > div {
    padding: 10px;
    gap: 100px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  /* Dish with price Section */
  .dish-price-section > div > div {
    row-gap: 100px;
  }
  .col {
    width: 100%;
  }
  .dish-price-section {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 425px) {
  /* Header Section */
  .dash {
    font-size: 1rem;
  }
  .nav-logo {
    max-width: 120px;
    min-height: 45px;
  }
  .nav-btn > a {
    padding: 12px 25px;
    font-size: 12px;
  }
  ul {
    gap: 20px;
  }
  ul > li > a {
    color: var(--primary-color);
    font-size: 12px;
  }
  .nav-right > ul {
    margin-bottom: 20px;
  }
  .nav-right {
    top: 50px;
    padding: 5px;
  }
  .nav-logo {
    padding: 5px;
  }

  /* Banner Section */
  .banner-section {
    margin-bottom: 10px;
    text-align: center;
    min-height: 80vh;
  }
  .banner-img > .small-banner-scr {
    display: block;
    max-width: 400px;
    min-height: 250px;
    object-fit: contain;
  }
  .banner-text > h1 {
    font-size: 25px;
    margin-bottom: 19px;
  }
  .banner-text > p {
    max-width: 276px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  .banner-btn {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .banner-btn1 > a {
    padding: 12px 25px;
    font-size: 12px;
  }
  .banner-btn2 > a {
    padding: 12px 25px;
    font-size: 12px;
  }
  .banner-logo {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .link1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link {
    border-radius: 50%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-logo > a {
    max-width: 45px;
    min-height: 45px;
    object-fit: contain;
  }
  .banner-logo > hr {
    display: none;
  }

  /* Our Special Dishes Section */
  .special-section {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .special-section-text > h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .special-section-text > p {
    max-width: 275px;
    font-size: 12px;
  }

  /* Dish with price Section */
  .dish-price-section {
    padding-bottom: 10px;
  }

  /* Welcome Section */
  .welcome-section {
    background-color: whitesmoke;
  }
  .welcome-img > img {
    min-height: 260px;
    max-width: 275px;
  }
  .welcome-section > div > div {
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  .welcome-text > h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .welcome-text > p {
    max-width: 275px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
  }
  .leaf2 {
    bottom: 40px;
    left: 130px;
  }
  .leaf3 > img {
    max-width: 100px;
    min-height: 80px;
  }
  .leaf2 > img {
    max-width: 80px;
    min-height: 60px;
  }
  .leaf1 > img {
    max-width: 50px;
    min-height: 120px;
  }
  .leaf1 {
    position: absolute;
    top: 65px;
  }
  .leaf2 {
    bottom: 20px;
    left: 60px;
  }
  .leaf3 {
    top: 46px;
    right: -20px;
  }
  .banner-btn {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    justify-content: center;
  }

  /* Our Chef Section */
  .chef-img > img {
    max-width: 250px;
    min-height: 250px;
  }
  .chef-section {
    padding: 10px 0;
  }
  .chef-text > h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .chef-text > p {
    font-size: 12px;
    margin-bottom: 10px;
    max-width: 400px;
  }
  .chef-list > ul > li > img {
    max-width: 15px;
    min-height: 15px;
  }
  .chef-list {
    gap: 12px;
    margin-bottom: 20px;
  }
  .chef-btn {
    gap: 15px;
    margin-bottom: 10px;
  }
  .chef-btn1 > a {
    padding: 12px 25px;
    font-size: 12px;
  }
  .chef-btn2 > a {
    padding: 12px 25px;
    font-size: 12px;
  }

  /* Happy Customers Section */
  .happy-section {
    padding: 10px 0;
  }
  .happy-text > h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .happy-text > p {
    max-width: 175px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .happy-img > img {
    max-width: 150px;
    min-height: 100px;
  }
  .happy-img {
    top: -20px;
    left: -220px;
  }

  /* Slider Section */
  .swiper {
    height: 300px !important;
  }
  .swiper-wrapper {
    margin-top: 50px;
  }
  .swiper-slide {
    max-width: 239px;
  }
  .customer-card {
    padding: 35px 10px 20px;
  }
  .customer-pst,
  .customer-review {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  .customer-review {
    margin: 10px 0;
  }
  .customer-img > img {
    height: 69px;
    width: 69px;
  }
  .review-section {
    padding-bottom: 120px;
  }

  /* Small Newsletter Section */
  .small-newsletter-section > div > div {
    justify-content: center;
    align-items: center;
  }
  .newsletter-box {
    display: none;
  }
  .small-newsletter-section {
    display: block;
  }
  .small-newsletter-box {
    background: url(../assets/Maskgroup\(13\).png) center/cover no-repeat;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    position: absolute;
    bottom: calc(-200px / 2);
    left: 50%;
    transform: translateX(-50%);
  }
  .small-newsletter-box > h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  .email1 {
    padding: 10px 12px;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    width: 265px;
  }
  .email1 > input {
    border: none;
    outline: none;
    background-color: white;
  }
  .subscribe > a {
    padding: 12px 25px;
    background: var(--third-color);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 12px;
  }

  /* Footer Section */
  .footer-section > div > div {
    gap: 25px;
    flex-direction: column;
  }
  .footer-section {
    margin-top: 80px;
  }
  .footer-hr-img {
    display: none;
  }
  .footer-logo > a > img {
    max-width: 95px;
    min-height: 35px;
    margin-bottom: 10px;
  }
  .footer-left > p {
    max-width: 250px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .footer-left > h3 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .footer-para {
    gap: 15px;
    font-size: 12px;
    flex-direction: column;
  }
  .footer-para > .p1 {
    max-width: 145px;
    font-size: 12px;
  }
  .footer-para > .p2 {
    max-width: 145px;
    font-size: 12px;
  }
  .footer-para > .p3 {
    max-width: 65px;
    font-size: 12px;
  }
  .footer-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-right > ul {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
  }
  .footer-right > ul > li {
    font-size: 12px;
  }
  .footer-icon {
    gap: 10px;
  }
  .footer-icon > a > img {
    max-width: 15px;
    min-height: 15px;
    object-fit: contain;
  }
  .footer-icon > a > .footer-icon1 {
    max-width: 30px;
    min-height: 30px;
    object-fit: contain;
  }

  /* Footer Hr Section */
  .footer-hr-section > div > hr {
    margin: 12px 0;
  }

  /* Footer last Section */
  .footer-last-section > div > div {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  .footer-last-part2 {
    display: flex;
    gap: 10px;
  }
  .footer-last-part1 {
    display: flex;
    gap: 5px;
    max-width: 250px;
    justify-content: center;
    padding-left: 18px;
  }
}
